force-app/main/default/flows/Birthday_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1073</locationX>
        <locationY>380</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_All_contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_All_contacts.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectOfEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear  {!Iterate_All_contacts.FirstName},&lt;/p&gt;&lt;p&gt;Wishing you a fantastic birthday filled with happiness, laughter, and all your favorite things! 🎈&lt;/p&gt;&lt;p&gt;May this year bring you new adventures, exciting opportunities, and great success in everything you do.&lt;/p&gt;&lt;p&gt;Enjoy your special day to the fullest — you deserve all the joy in the world today and always.&lt;/p&gt;&lt;p&gt;Warm wishes,&lt;/p&gt;&lt;p&gt;{!$Organization.Name}&lt;/p&gt;&lt;p&gt; &lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>dayOfToday</name>
        <dataType>String</dataType>
        <expression>TEXT( DAY(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>MonthOfToday</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY()))</expression>
    </formulas>
    <interviewLabel>Birthday Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Birthday Email Flow</label>
    <loops>
        <name>Iterate_All_contacts</name>
        <label>Iterate All contacts</label>
        <locationX>832</locationX>
        <locationY>356</locationY>
        <collectionReference>Get_all_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_records</name>
        <label>Get all records</label>
        <locationX>574</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_All_contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Day_of_Bithday__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dayOfToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Month_of_Birtday__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MonthOfToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>552</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_all_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Birthdate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-06-25</startDate>
            <startTime>13:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SubjectOfEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Happy Birthday, {!Iterate_All_contacts.Name}! 🎂&lt;/p&gt;</text>
    </textTemplates>
</Flow>
